@font-face {
    font-family: 'Hiragino';
    src: url(font/ヒラギノ角ゴシック W0.ttc) format('truetype');
}

@font-face {
    font-family: "Hiragino Sans";
    src: local(HiraginoSans-W0);
    font-weight: 100;
}

@font-face {
    font-family: 'Helvetica Neue Ultra Light';
    src: local(HelveticaNeue-UltraLight);
    font-weight: 100;
}

@font-face {
    font-family: 'Lobster';
    src: url(../font/Lobster1.4.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Ultra Light', 'Hiragino Sans';
}

html,
body {
    -webkit-text-size-adjust: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

.inner {
    width: 980px;
    margin: 0 auto;
}

.inner:after {
    content: "";
    clear: both;
    display: block;
}


/* header */

#top-head {
    background-color: #69a2db;
    top: -100px;
    position: absolute;
    width: 100%;
    height: 55px;
    margin: 100px auto 0;
    padding: 0px 0 0;
    z-index: 999;
}

#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
    line-height: 55px;
}

#top-head .inner {
    position: relative;
}

.logo {
    font-family: 'lobster';
    float: left;
    font-size: 30px;
}

#global-nav {
    overflow: hidden;
    float: left;
}

#global-nav ul {
    list-style: none;
    position: absolute;
    left: 250px;
    bottom: 0;
    font-size: 20px;
}

#global-nav ul li {
    float: left;
}

#global-nav ul li a {
    padding: 0 20px;
}

#global-nav > ul > li > a:hover {
    border-bottom: #fafafa solid 1px;
}

.active-button {
}

.account_box {
    position: absolute;
    right: 0;
    width: 200px;
    float: left;
}

.account_box > img{
    border-radius: 50%;
    margin-top: 12.5px;
    float: left;
    margin-right: 10px;
}

#login,
#signup {
    font-weight: bold;
}

em {
    padding: 0 20px;
}


/* Fixed */

#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 55px;
    background: rgba(105, 162, 219, .7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
}

#top-head.fixed #global-nav ul li a {
    color: #fff;
    padding: 0 20px;
    background-color: none;
    line-height: 55px;
}


/* Toggle Button */

#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}


/* Toggle Button */


/* modal */

#modal-content {
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    position: fixed;
    display: none;
    z-index: 20;
    color: #000;
}

#modal-content-innar {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

#modal-content-innar > ul {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 5%;
}

#modal-content-innar > ul > li {
    margin-left: 10px;
    border-bottom: 1px solid #000;
}

#modal-overlay {
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba( 0, 0, 0, 0.75);
}

.button-link {
    color: #00f;
    text-decoration: underline;
}

.button-link:hover {
    cursor: pointer;
    color: #f00;
}


/* modal */


/* main */

#main {
    width: 100%;
    height: 1400px;
    padding-top: 100px;
}

#container {
    width: 75%;
    height: 1000px;
    float: left;
    margin-left: 5%;
}

#container > h1 {
    font-family: 'lobster';
    padding-bottom: 30px;
}

#profile-top {
    width: 85%;
    height: 300px;
    margin-left: 5%;
    position: relative;
}

#blur {
    width: 100%;
    height: 300px;
    background-image: url(../img/13584843_853446848120974_4897931407915144558_o.jpg);
    -webkit-filter: blur(15px);
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
}

#filter {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
}

#filter > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
}

#filter > h2 {
    color: #fafafa;
}

#status {
    width: 20%;
    height: 350px;
    margin-left: 5%;
    margin-top: 20px;
    background-color: #fafafa;
    float: left;
}

#textarea {
    width: 80%;
    height: 60%;
    margin: auto;
}

#columns {
    width: 62%;
    height: 350px;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    background-color: #fafafa;
    overflow: scroll;
}

.column {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.column > h2 {
    margin-top: 20px;
    float: left;
}

.date {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    font-size: 13px;
}

.column-content {
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 10px;
}

.like {
    float: left;
    margin-right: 20px;
}


/* timeline src: http://codepen.io/daveknispel/pen/PzOPVo */

#timeline {
    width: 85%;
    height: auto;
    background-color: #fafafa;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

.cd-horizontal-timeline a {
  text-decoration: none;
}
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fd8204;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #fd8204;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #085796;
  border-color: #085796;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #085796;
  border-color: #085796;
}
.cd-timeline-navigation{
list-style-type: none;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  color: #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a:hover {
  border: 2px solid #005695;
  color: #005695;
}

.cd-timeline-navigation a.prev::before {
  content:  "\f053";
  font-family: FontAwesome;
  color: #ccc;
  font-size: 1.4rem;
  display: block;
  position:absolute;
  top: 8px;
  left: -25px;
  z-index: 10000;
  height: 100%;
  width: 100%;
  text-align: center;
}

.cd-timeline-navigation a.next::before {
  content:  "\f054";
  font-family: FontAwesome;
  font-size: 1.4rem;
  display: block;
  position:absolute;
  top: 8px;
  left: -24px;
  z-index: 10000;
  color: #ccc;
  height: 100%;
  width: 100%;
  text-align: center;
}

.cd-timeline-navigation a:hover:before {
  color: #005695;
}


.cd-timeline-navigation a.next {
  right: 0;
}


.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.cd-timeline-navigation a:hover:before {
    color: #005695;
}

.cd-timeline-navigation a.next {
    right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #7b9d6f;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
    max-width: 800px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {
    color: #005695;
    font-weight: bold;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
    color: #959595;
}

.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
    line-height: 1.6;
}

.cd-horizontal-timeline .events-content p {
    display: block;
    margin-bottom: 15px;
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}


/* timeline */


/* sidebar */

#sidebar {
    width: 15%;
    height: 1000px;
    float: left;
    margin-right: 5%;
}

#signup_box {
    width: 100%;
    height: 400px;
    background-color: #fafafa;
}

#signup_box > a > img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

#create_account {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

#create_account > ul {
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
}

#create_account > ul > li {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

#create_account > ul > li > input {
    width: 100%;
    height: 20px;
    font-size: 13px;
}

#login_form {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    padding: 20px;
}

#login_form > a {
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: #fafafa;
    background-color: #69a2db;
    transition: 0.4s;
}

#login_form > a:hover {
    background-color: #afcbf7;
}


/* sidebar */


/* footer*/

#top-foot {
    width: 100%;
    height: 20%;
    background-color: #fff;
}

.link-list {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 30px;
    line-height: 10px;
}

.link-list > ul {
    width: 100%;
    list-style-type: none;
}

.link-list > ul > li {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.link-list > ul > li > a {
    font-weight: bold;
    text-decoration: none;
    color: darkblue;
}

.credit {
    width: 100%;
    clear: both;
    text-align: center;
}


/* footer*/